footer {
    font-size: small;
}

header img {
    float: left;
    height: 50px;
}
header {
    font-size: 20px;
    text-align: center;
}
html {
    background-image: linear-gradient(to top, #797b80, #dfc7a7); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    filter: grayscale(10%);
    transition: transform 0.3s, ease-in;
    box-shadow: 0, 4px, 8px, rgba(0, 0, 0, 0.1);
}
