div {
    text-indent: 50px;
}
body {
    background-color: #b3b3b3;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    border-right-width: 650px;
    padding: 0%;
    border: solid 2px darkred;
}
html {
    background-color: white;
}
hr {
    border: darkred, 1px, solid;
}
.bold {
    font-weight: bold;
}
.darkred {
    color: darkred;
}
img {
    float: left;

}
a {
    text-decoration: none;
}
a:hover {
    color: #4A412A;
}